body {
  line-height: 1.7rem;
  font-family: "Poppins", sans-serif;
}
.text-shadow{
  text-shadow: 0.5px 0.5px #5f5f5f !important;
}
.img-details {
  width: 345px;
  min-height: 500px;
  text-align: center;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
}
.cast{
  width: 7%;
}